* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Compartidos */

.title {
  font-weight: 600;
  text-align: center;
  color: #515151;
  padding-block: 1.2em;
}

.subtitle {
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: center;
  color: #794983;
}

.custom-btn {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  font-size: 1rem;
  margin: 1em auto;
  width: 100%;
  background-color: #794983;
  color: white;
  transition: all 250ms;
}

.custom-btn:hover {
  background-color: #3c1c42;
  color: white;
}

/*  Componente header */
header {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 239, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: sticky;
  top: 0;
}

.header__nav__list {
  list-style: none;
  display: flex;
  gap: 0 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.header__nav__list li a {
  font-weight: 400;
  text-decoration: none;
  color: #2e148c;
  position: relative;
}

.header__nav__list > li > a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -5px;
  transform: translateX(-100%);
}

.header__nav__list > li > a:hover::after {
  transition: background-color 150ms ease-in;
  background-color: #794983;
}

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 3em;
  }
}

/* Componente footer */
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr fit-content;
  padding: 1em 1em 0 1em;
  background-color: #d4add9;
  color: #2e148c;
}

.footer__nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer__nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer__nav ul li a {
  text-decoration: none;
}

.footer__legals {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer__img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  overflow-y: hidden;
}

.footer__img img {
  max-width: 100%;
  animation: slide-bottom 5s infinite;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(100%);
  }
  75% {
    transform: none;
  }

  100% {
    transform: translateY(100%);
  }
}

@media (min-width: 768px) {
  footer {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    padding-inline: 4em;
  }

  .footer__nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer__legals {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer__img {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/* Home: Section Hero */
.hero {
  padding: 1em;
  overflow-x: hidden;
}

.hero__text {
  text-align: center;
  animation: slide-left 1.5s;
}

@keyframes slide-left {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: none;
  }
}

.hero__text h1 {
  font-size: 4rem;
  line-height: 1em;
  color: #2e148c;
  padding: 0.5em 5em;
}

.hero__text p {
  color: #3c1c42;
}

.hero__img {
  max-width: 100%;
  width: fit-content;
  animation: slide-right 1.5s;
}

@keyframes slide-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: none;
  }
}

.hero__img img {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
  }

  .hero__img {
    margin-inline: auto;
  }
}
/* Home: Section New pets */

.new__pets {
  background-color: #e6bde6;
}

/*Home: Form */

.form__home {
  background-color: #ffffff;
}

/* Rescued: Section card list */

.cards-grid {
  margin: 0 auto;
  width: min(80%, 1366px);
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 2em 1em;
  padding-block: 1em;
}

.cards-grid > li {
  list-style: none;
}

.custom-card {
  background-color: white;
  border: 1px solid #c39ec3;
  border-radius: 0.5em;
  width: 300px;
  overflow: hidden;
  transition: 300ms;
}

.custom-card:hover {
  border: 1px solid #794983;
}

.custom-card__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.custom-card__content {
  padding: 0em 2em 1em 2em;
}

.custom-card__content > h2 {
  text-align: center;
  margin: 0.4em 0;
}

.custom-card__details {
  margin: 1em 0 0 0;
  list-style: none;
}

.custom-card__details > li {
  margin: 0.5em 0;
}

/* Contact: Form */

.form {
  width: min(90%, 512px);
  margin: 0 auto;
}

.label--block {
  display: block;
  width: 100%;
}

.input {
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: 1px solid #794983;
  opacity: 0.5;
  background-color: white;
}

.input:hover {
  opacity: 1;
}

.input-full-size {
  width: 100%;
}

.input-container {
  margin-block: 0.5rem;
}

.button-container {
  margin: 0 auto;
  width: fit-content;
}

.button-container > .custom-btn {
  padding-inline: 5em;
}

.button-container > .button:hover {
  background-color: #3c1c42;
  color: white;
}

/* About  */

.about__title {
  margin-block: 0.5em;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: fit-cotent;
  width: 80%;
  margin-inline: auto;
  gap: 2em 3em;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.about__img {
  width: 100%;
  object-fit: cover;
  height: 272px;
  border-radius: 1em;
}

.about-grid > p {
  border-bottom: 1px solid #c39ec3;
  padding-bottom: 2em;
}

@media (min-width: 480px) {
  .about__title {
    margin-block: 1em;
  }

  .about-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  .about-grid > .about__img:nth-child(3) {
    grid-column: 2/2;
    grid-row: 2/3;
  }

  .about-grid > p:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .about-grid > p {
    border-bottom: none;
    padding-bottom: none;
  }
}

/* Advices */

.advices {
  display: flex;
  gap: 1em;
  flex-direction: column;
  width: min(80%, 1366px);
  margin-inline: auto;
  padding-bottom: 2em;
}

.advices__card {
  background-color: #f5dff8;
  height: 100%;
  border-radius: 1em;
  padding: 1em 3em;
}

.advices__card > ol > li {
  margin-block: 0.5em;
}

.advices > h2 {
  padding-block: 1em;
}

@media (min-width: 1024px) {
  .advices {
    flex-direction: row;
  }
}
