* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Compartidos */

.title {
  font-weight: 600;
  text-align: center;
  color: #515151;
  padding-block: 1.2em;
}

.btn {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  font-size: 1rem;
  margin: 1em auto;
  width: 100%;
  background-color: #794983;
  color: white;
  transition: all 250ms;
}

/*  Componente header */
header {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: sticky;
  top: 0;
}

.header__nav__list {
  list-style: none;
  display: flex;
  gap: 0 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.header__nav__list li a {
  font-weight: 400;
  text-decoration: none;
  color: #2e148c;
}

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 3em;
  }
}

/* Componente footer */
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr fit-content;
  padding: 1em 1em 0 1em;
  background-color: #d4add9;
  color: #2e148c;
}

.footer__nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer__nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer__nav ul li a {
  text-decoration: none;
}

.footer__legals {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer__img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
}

.footer__img img {
  max-width: 100%;
}

@media (min-width: 768px) {
  footer {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    padding-inline: 4em;
  }

  .footer__nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer__legals {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer__img {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/* Home: Section Hero */
.hero {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__text {
  text-align: center;
}

.hero__text h1 {
  font-size: 3rem;
  line-height: 1em;
  color: #2e148c;
  padding: 0.5em;
}

.hero__text p {
  color: #3c1c42;
}

.hero__img {
  max-width: 100%;
  width: fit-content;
}

.hero__img img {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
  }

  .hero__img {
    margin-inline: auto;
  }
}
/* Home: Section New pets */

.new__pets {
  background-color: #c39ec3;
  padding: 0.5em;
}

.new__pets__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  gap: 1em;
  overflow-x: auto;
  max-width: fit-content;
  margin-inline: auto;
}

.new__pets__list::-webkit-scrollbar-button {
  display: none;
}

.new__pets__list::-webkit-scrollbar {
  background-color: #fae7fa;
  border-radius: 1em;
}

.new__pets__list::-webkit-scrollbar-thumb {
  background-color: #3c1c42;
  border-radius: 1em;
}

/* Estilos main*/

.cards-list {
  margin: 0 auto;
  width: fit-content;
  max-width: 80%;
}

.card {
  background-color: white;
  border: 1px solid #c39ec3;
  border-radius: 0.5em;
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.card__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card__content {
  padding: 0em 2em 1em 2em;
}

.card__content > h2 {
  text-align: center;
  margin: 0.4em 0;
}

.card__details {
  margin: 1em 0 0 0;
  list-style: none;
}

.card__details > li {
  margin: 0.5em 0;
}

.card__content > button:hover {
  background-color: #3c1c42;
  color: white;
}

/* FORMULARIO */

.form {
  width: min(90%, 512px);
  margin: 0 auto;
}

.label--block {
  display: block;
  width: 100%;
}

.input {
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: 1px solid #794983;
  background-color: white;
}

.input-full-size {
  width: 100%;
}

.input-container {
  margin-block: 0.5rem;
}

.button-container {
  margin: 0 auto;
  width: fit-content;
}

.button-container > .btn {
  padding-inline: 5em;
}

/* Sobre nosotros */

.about__row {
  width: 80%;
  margin-inline: auto;
}

.about__col {
  display: inline-block;
  width: 49%;
  padding: 1em 4em;
}

.about__img {
  width: 100%;
  object-fit: cover;
  height: 272px;
  border-radius: 1em;
}

.about__title {
  margin-block: 2em;
}

/* INICIO */

.subtitle {
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: center;
  color: #794983;
}

.form__home {
  background-color: #fae7fa;
}

/* CONSEJOS */

.advices__card {
  display: inline-block;
  background-color: #f5dff8;
  width: 40%;
  height: 100%;
  border-radius: 1em;
  margin: 1em 4%;
  padding: 1em 3em;
}

.advices__card > ol > li {
  margin-block: 0.5em;
}

.advices > h2 {
  padding-block: 1em;
}
