@use "shared";
@use "pages/home";
@use "pages/rescued";
@use "pages/advices";
@use "pages/about";
@use "components/form";
@use "components/card";
@use "components/header";
@use "components/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.title {
  @include shared.title-generator("bold", "grey");
  padding-block: 1.2em;
}

.subtitle {
  @include shared.title-generator("regular", "blue");
  margin: {
    top: 0.5rem;
  }
}

.btn {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  font-size: 1rem;
  margin: 1em auto;
  width: 100%;
  background-color: map-get(shared.$colors, "blue");
  color: map-get(shared.$colors, "white");
  transition: all 250ms;

  &:hover {
    background-color: darken(map-get(shared.$colors, "blue"), 40%);
  }
}
